:root {
    --green: 59, 159, 78;
    --white: 255, 255, 255;
    --black: 0, 0, 0;
    --font-family: 'Arial', sans-serif;

}

html, body {
    height: 100%;
}

html, * {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(var(--white));
    font-family: var(--font-family);
}

.navbar {
    backdrop-filter: blur(5px);
    /* background-color: rgb(var(--white)); */
    color: rgb(var(--white));
    padding: 10px 0;
    z-index: 1;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-menu {
    list-style: none;
    display: flex;
}

.nav-menu .nav-item {
    color: rgb(var(--black));
    margin-left: 20px;
    position: relative;
}

.nav-item.active {
    color: rgb(var(--green));
    
}

.nav-item img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    position: absolute;
    bottom: 50%;
}

.nav-menu a {
    color: inherit;
    text-decoration: none;
    font-size: 18px;
}

.nav-logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(var(--black));
}

.nav-logo img {
    width: 100px;
    height: auto;
}

.nav-logo p span {
    font-size: 18px;
    font-weight: bold;
    color: rgb(var(--green));
}